{{ define "main" }}
<article>
  {{ $sec := .Section }}
  {{- partial "components/hero.html" . -}}
  <div class="mb-4">
    <div class="container px-4">
      {{- partial "components/page-introroy.html" . -}}
    </div>
    <div class="mb-8 container">
      <div class="bg-grey-lightest mx-auto p-4 md:p-8 rounded-lg">
        <div class="relative">
          <input type="text"
            class="w-full focus:outline-none bg-white shadow-md rounded-lg py-2 md:py-4 p-4 relative z-30"
            placeholder="Zoek binnen de Callvoip Marketplace..." id="search_input">
          <div class="absolute z-30 w-full">
            <ul class="bg-white shadow-lg" id="search_result">
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container lg:flex items-start space-y-8 lg:space-y-0 lg:space-x-8">
      {{ $pageVar := . }}
      {{ $cloudinary := .Site.Params.cloudinary_base_url }}
      {{ $paginator := .Paginate .Pages 6 }}
      <aside class="lg:p-4 lg:border-r border-t border-b border-grey-lightest lg:w-56 flex-shrink-0 space-y-6 pb-4">
        <button
          class="flex justify-between w-full items-center lg:hidden border-b lg:border-b border-grey-lightest text-grey py-4"
          type="button" onclick="this.nextElementSibling.classList.toggle('hidden')">
          <span>Kies een categorie</span>
          <svg xmlns="http://www.w3.org/2000/svg" width='18' fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </button>
        <div class="space-y-6 hidden lg:block">
          <div class="space-y-2">
            <button type="button" id="reset" hidden
              onclick="document.querySelectorAll('.item-card').forEach(function (e){e.classList.remove('hidden')});this.hidden=true;">
              Reset filters</button>
            <h3 class="text-black"><b>Uitgelicht</b></h3>
            <ul class="space-y-2">
              {{/* ! previous code to get top 3 {{ range first 3 $topCat.ByCount }} {{ end }} */}}
              {{- range .Params.selected_tags }}
              <li><button type="button"
                  onclick="document.querySelectorAll('.item-card').forEach(function (e){e.classList.add('hidden');if(e.classList.contains('{{urlize . }}')){e.classList.remove('hidden');}});reset.hidden=false;window.scrollTo(0,700)">
                  {{- . }}</button></li>
              {{- end }}
            </ul>
            <p style="height: 7px"></p>
            <h3 class="text-black"><b>Functionaliteiten</b></h3>
            <ul class="space-y-2">
              {{- range .Params.selected_tags2 }}
              <li class="flex justify-between"><button type="button"
                  onclick="document.querySelectorAll('.item-card').forEach(function (e){e.classList.add('hidden');if(e.classList.contains('{{urlize .name }}')){e.classList.remove('hidden');}});reset.hidden=false;window.scrollTo(0,700)">
                  {{- .name }}</button>
                <button class="relative" onclick="this.children[1].classList.toggle('hidden')">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  <div
                    class="absolute bottom-0 right-0 transform -translate-y-4 -translate-x-4 p-2 bg-grey text-left w-56 z-30 text-white text-xs hidden rounded-md">
                    {{.info}}
                  </div>
                </button>
              </li>
              {{- end }}
            </ul>
          </div>
          <div class="space-y-2">
            <h3 class="text-black"><b>Alle categorieën</b></h3>
            <ul class="space-y-2">
              {{ $t := where .Site.Taxonomies.categories ".Page.Section" "program-shop" }}
              {{ range $t -}}
              <li><button type="button"
                  onclick="document.querySelectorAll('.item-card').forEach(function (e){e.classList.add('hidden');if(e.classList.contains('{{urlize .Page.Title }}')){e.classList.remove('hidden');}});reset.hidden=false;window.scrollTo(0,700)">
                  {{- .Page.Title }}</button></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </aside>
      <div class="md:flex flex-wrap w-full md:w-5/6 mx-auto lg:w-full text-center">
        {{ range $i, $item := .Pages.ByWeight -}}
        {{ $title := .Title }}
        <a href="{{.Permalink}}"
          class="block border border-grey-lightest rounded-md overflow-hidden md:w-64 mb-4 md:mb-12 text-grey item-card mx-6 xl:mx-2 {{- range $item.Params.categories }} {{urlize .}}{{ end }}">
          <div class="bg-grey-lightest flex items-center justify-center p-4 h-40 relative">
            {{ with .Params.logo -}}
            <img src="{{ $cloudinary }}/c_scale,f_auto,q_auto{{.}}" class="cld-responsiveb h-24"
              alt="logo of {{$title}}" />
            {{ end -}}
            {{ with .Params.new }}
            <span class="absolute top-0 right-0 bg-green text-white px-1 text-sm">Nieuw</span>
            {{ end }}
            {{ with .Params.populair }}
            <span class="absolute top-0 right-0 bg-orange text-white px-1 text-sm">Populair</span>
            {{ end }}
          </div>
          <div class="p-4 space-y-2">
            <h3 class="text-lg font-medium text-blue-light">{{.Params.shorttitle}}</h3>
            <p class="text-sm max-w-sm mx-auto px-4 lg:p-0">{{ $item.Params.shortdesc }}</p>
            <p class="text-xs bg-grey-lightest uppercase opacity-75 p-2 py-1 rounded-full inline-block">
              Meer Informatie</p>
          </div>
        </a>
        {{ end -}}
      </div>
    </div>
  </div>
</article>
{{ $searchFile := (.OutputFormats.Get "json") }}
<script>
  function Get(yourUrl) {
    var Httpreq = new XMLHttpRequest();
    Httpreq.open("GET", yourUrl, false);
    Httpreq.send(null);
    return Httpreq.responseText;
  }
  function search(source, name) {
    var results = [],
      index,
      entry;

    name = name.toUpperCase();
    for (index = 0; index < source.length; ++index) {
      entry = source[index];
      if (entry && entry.match && entry.match.toUpperCase().indexOf(name) !== -1) {
        results.push(entry);
      }
    }
    return results;
  }

  var json_obj = JSON.parse(Get('{{ $searchFile.Permalink }}'));

  var input = document.getElementById("search_input"),
    rlist = input.nextElementSibling.querySelector('ul');

  input.addEventListener("keyup", function (e) {
    rlist.innerHTML = ''
    if (input.value.length > 0) {
      var result = search(json_obj, input.value);
      result.forEach(e => {
        var newli = document.createElement('li');
        newli.innerHTML = '<a href=\"' + e.url + '\" class="p-4 hover:bg-grey-lightest block capitalize">' + e.title + '</a>';
        rlist.appendChild(newli)
      })
    }
  });
</script>
{{ end }}