<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode}}">

<head>
  {{- block "head" . -}}
  <title>{{ block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
  {{- partial "head" . -}}
  {{- end -}}
  {{- block "head-scripts" . }}{{- end }}

</head>

<body class='text-base font-sans leading-normal text-grey-dark overflow-x-hidden'>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NK98RJ5" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="app" class="bg-no-repeat bg-right-top" {{ if .IsHome }} style="background-image:url('/images/site-bg.svg')"
    {{ end }}>

    <div id="content">
      {{- block "main" . }}{{- end }}
    </div>

  </div>
  {{- partial "scripts.html" . -}}
  {{- block "footer-scripts" . }}{{- end }}
</body>

</html>
